<mat-list role="list">
    <div class="profile">
        <img src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg" alt="">
        <h3>Admin</h3>
        <h4>admin@gmail.com</h4>



    </div>
    <mat-divider></mat-divider>
    <h2>Pages</h2>
  <div class="pages">
       <a routerLink="">DashBoard</a>
       <a routerLink="gallery">Gallery</a>
       <a routerLink="employees">Employees</a>
      
  </div >
  <h2>Tools</h2>
  <div  class="pages">
    <a routerLink="addemployees"> <mat-icon>import_contacts</mat-icon>Employee</a>
    <a routerLink="leads"><mat-icon>person</mat-icon>Leads</a>
    


  </div>
  </mat-list>
  
